<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroTeca')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<ul>
			<li th:each="categoria : ${categorias}"><a th:href="@{/admin/categorias/__${categoria.id}__/form}" th:text="${categoria.nome}"></a>  -  <a th:href="@{/admin/categorias/__${categoria.id}__/deleta}">Deletar</a></li>
		</ul>
		<a th:href="@{/admin/categorias/form}">Nova Categoria</a>
	</div>
</body>
</html>