html * {
	font-family: 'Raleway', sans-serif !important;
}

body::-webkit-scrollbar {
	display: none;
}

.espaco-livro:hover {
	text-decoration: none;
}

.espaco-livro ul img {
	width: 100%;
}

.leitura-capitulo {
	height: 30rem;
	max-height: 30rem;
}

.leitura-capitulo textarea {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	margin-top: 0rem;
}

.titulo-livro {
	margin-top: 1rem;
	height: 3rem;
}

.titulo-capitulo {
	height: 2rem;
}

#botoes-paginacao {
	margin-top: 3.5rem;
}

#diminuir-velocidade:hover, #botao-auto-scroll:hover,
	#aumentar-velocidade:hover, .tamanho-fonte {
	cursor: pointer;
}

.botao-scroll {
	margin-top: 0.5rem;
	border: 1px solid black;
	height: 2rem;
	padding-top: 0.2rem;
}

#form-cadastro, #form-login {
	margin-top: 3rem;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

ul.pagination.text-center {
	justify-content: center;
}

.botao-scroll {
	width: 33%;
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.flex {
	display: flex;
}

#div-leitura.fullscreen {
	position: fixed;
	top: 3.4rem;
	left: 0;
	right: 0;
	bottom: 0;
	height: 90% !important;
	background-color: white;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding-top: 0.5rem;
}

@media ( min-width : 800px) {
	body {
		padding-top: 4.5rem !important;
	}
	nav.navbar {
		margin-bottom: 1rem !important;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}
	.img-fluid {
		height: 100% !important;
	}
	ul.dados-imagem {
		height: 95% !important;
	}
	html {
		height: 100% !important;
	}
	body {
		height: 100% !important;
	}
	.leitura-capitulo {
		height: calc(100% - 7rem);
	}
	#main-leitura {
		height: 100%;
	}
	#div-leitura {
		height: 80%;
	}
	#leitura-capitulo.fullscreen {
		max-height: unset;
		height: calc(100% - 6rem);
	}
}

@media ( max-width : 800px) and (orientation:landscape) {
	html {
		height: 100% !important;
	}
	body {
		height: 100% !important;
	}
	#main-leitura {
		padding-left: 0;
		padding-right: 0;
		height: 82%;
		width: 100%;
	}
	#separador-leitura {
		margin-left: 0;
		margin-right: 0;
		display: flex;
		padding-right: 1rem;
	}
	#div-titulo {
		flex: 0 0 30%;
		margin-top: 3rem;
	}
	#div-leitura {
		padding-top: 15px;
		flex: 0 0 70%;
	}
	.leitura-capitulo {
		height: calc(100% - 6.5rem) !important;
	}
	#div-titulo h5.titulo-livro {
		height: auto;
	}
	#botoes-paginacao div a {
		font-size: 1rem;
	}
	.botao-scroll {
		height: 1.6rem;
		padding-top: 0;
		font-size: .75rem;
		padding-top: .25rem;
	}
}

@media ( max-width : 800px) and (orientation : portrait) {
	html {
		height: 100%
	}
	body {
		height: 100%
	}
	#main-leitura {
		height: 100%;
	}
	.leitura-capitulo {
		height: calc(100% - 6rem);
	}
	.leitura-capitulo.fullscreen {
		height: calc(100% - 8rem);
	}
	h4.titulo-livro span {
		font-size: 1.2rem;
	}
	div.row div.thumb {
		padding: 0;
	}
	.dados-imagem {
		height: 100%;
	}
	.dados-imagem img.img-fluid {
		height: 100%;
	}
	nav.navbar {
		position: fixed;
		top: 0;
		z-index: 999;
		width: 100%;
	}
	body {
		position: relative !important;
		padding-top: 3rem !important;
	}
	#separador-leitura {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#div-titulo {
		height: auto;
	}
	#div-leitura {
		height: 73%
	}
}

@media ( max-width : 320px) {
	#botoes-paginacao div a {
		font-size: .9rem;
	}
	div#leitura-capitulo.leitura-capitulo {
		height: calc(100% - 6.5rem);
	}
}

.img-capa {
    max-height: 38rem;
}