<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroWeb - Login')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
				<div class="col-md-4">
				<form id="form-login" th:action="@{/login}" method="post">
					<div class="form-group text-center">
						<label class="text-center">Nome de Usuario</label>
						<input class="form-control" type="text" name="username" id="username" autofocus="autofocus"/>
					</div>
					<div class="form-group text-center">
						<label>Senha</label>
						<input class="form-control" type="password" name="password" id="password"/>
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
					<a th:href="@{/cadastro}">Não Possui Cadastro? Registre-se</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>