<!DOCTYPE html>
<html>
<head th:fragment="head(title)">

<title th:text="${title}"></title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/css/site.css}" />
<link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css" />

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-primary">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" th:href="@{/livros/1}">LivroWeb <span>Alpha</span></a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<form class="form-inline" th:action="@{/livros/procurar}" method="get">
					<input class="form-control mr-sm-2" type="text" name="chave" placeholder="procurar"/>
					<select class="form-control mr-sm-2" name="categoria" id="categoria">
						<option value="TODAS">CATEGORIA</option>
						<option value="TODAS">TODAS</option>
						<option th:each="categoria : ${categorias}" th:text="${categoria.nome}" th:value="${categoria.id}"></option>
					</select>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
				</form>
				<li th:if="${#authorization.expression('hasAuthority(''admin'')')}" class="nav-item"><a class="nav-link" th:href="@{/admin/painel/}">Painel Admin</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li th:if="${!#authorization.expression('isAuthenticated()')}" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
				<form th:if="${#authorization.expression('isAuthenticated()')}" class="form-inline" th:action="@{/logout}" method="post">
					<button class="btn btn-danger my-2 my-sm-0">Logout</button>
				</form>
			</ul>
		</div>
	</nav>
</body>
</html>