<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroTeca')">
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<h5>Livro</h5>
		<ul>
			<li th:text="'Nome: ' + ${livro.titulo}"></li>
			<li th:text="'Descricao: ' + ${livro.descricao}"></li>
			<li th:text="'Sinopse: ' + ${livro.sinopse}"></li>
		</ul>
		<h5>Detalhes Capitulo</h5>
		<form class="form" method="post" th:action="@{/admin/livros/capitulo/salva}" th:object="${capitulo}">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{livro.id}" th:value="${livro.id}"/>
			<div class="form-group">
				<label>Numero</label>
				<input class="form-control" th:field="*{numero}"/>
			</div>
			<div class="form-group">
				<label>Titulo</label>
				<input class="form-control" th:field="*{titulo}"/>
			</div>
			<h5>Painel de Leitura</h5>
			<div class="leitura-capitulo">
				<textarea rows="15" class="form-control" th:field="*{texto}"/>
			</div>
			<button type="submit">Salvar</button>
		</form>
	</div>
</body>
</html>