<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroTeca')">
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<h3 th:text="${livro.titulo}"></h3>
		<p th:text="'Sinopse: ' + ${livro.sinopse}"></p>
		<a th:href="@{/admin/livros/__${livro.id}__/form}">Editar Cadastro</a>
		<h5>Capitulos</h5>
		<ul>
			<li th:each="capitulo : ${capitulos}">
				<a th:href="@{/admin/livros/__${livro.id}__/__${livro.nomeUri}__/capitulo/__${capitulo.id}__/detalhes}" th:text="'Capitulo ' + ${capitulo.numero} + ' - ' + ${capitulo.titulo}"></a>
			</li>
			<li><a th:href="@{/admin/livros/__${livro.id}__/__${livro.nomeUri}__/capitulo/form}">Adicionar Capítulo</a></li>
		</ul>
	</div>
</body>
</html>