<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroTeca')">
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<ul th:each="livro : ${livros}">
		<li>Nome:</li>
		<li>Descricao:</li>
		<li>Sinopse:</li>
	</ul>
	<div class="container">
		<form class="form" th:action="@{/admin/livros/salva}" method="post" th:object="${livro}">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label>Titulo</label>
				<input class="form-control" th:field="*{titulo}" />
			</div>
			<div class="form-group">
				<label>Autor</label>
				<input class="form-control" th:field="*{autor}" />
			</div>
			<div class="form-group">
				<label>Descricao</label>
				<input class="form-control" th:field="*{descricao}" />
			</div>
			<div class="form-group">
				<label>Sinopse</label>
				<input class="form-control" th:field="*{sinopse}" />
			</div>
			<div class="form-group">
				<label>Categoria</label>
				<select class="form-control" th:field="*{categoria.id}">
					<option th:each="categoria : ${categorias}" th:text="${categoria.nome}" th:value="${categoria.id}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Imagem Capa</label>
				<input class="form-control" th:field="*{imagemCapa}" />
			</div>
			<button class="btn btn-primary" type="submit">Salvar</button>
		</form>
	</div>
</body>
</html>