<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroTeca')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<div class="row">
			<div class="col-md-4" th:each="livro : ${livros}">
				<a class="espaco-livro" th:href="@{/admin/livros/__${livro.id}__/__${livro.nomeUri}__/detalhes}">
					<ul>
						<li>Livro: <span th:text="${livro.titulo}"></span></li>
						<li th:text="'Autor: ' + ${livro.autor}"></li>
					</ul>
				</a>
			</div>
		</div>
		<a th:href="@{/admin/livros/form}">Novo Livro</a>
	</div>
</body>
</html>