<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroTeca')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<ul>
			<li><a th:href="@{/admin/livros/}">Livros</a></li>
			<li><a th:href="@{/admin/categorias/}">Categorias</a></li>
		</ul>
	</div>
</body>
</html>