<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroWeb - Livro __${livro.titulo}__')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<h4 class="titulo-livro text-center"><span th:text="${livro.titulo}"></span></h4>
		<div class="row">
			<div class="col-6">
				<picture class="espaco-livro" th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/detalhes}">
					<img class="img-fluid ml-auto mr-auto img-capa" th:src="${livro.imagemCapa}"/>
				</picture>
			</div>
			<div class="col-6">
				<ul>
					<li>Autor: <span th:text="${livro.autor}"></span></li>
					<li>Sinopse: <span th:text="${livro.sinopse}"></span></li>
					<li>Categoria: <span th:text="${livro.categoria.nome}"></span></li>
					<li>Capitulos: <span th:text="${numeroUltimoCapitulo}"></span></li>
				</ul>
			</div>
		</div>
		<p th:if="${numeroCapitulo == 0}" class="text-center"><a th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/leitura/capitulo/1/}">Ler Livro</a></p>
		<div th:if="${numeroCapitulo != 0}">
			<p><a th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/leitura/capitulo/__${numeroCapitulo}__/}" th:text="${'Continuar Leitura Capitulo ' + numeroCapitulo}"></a></p>
			<p><a th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/leitura/capitulo/1/}">Ler do Início</a></p>
			<p><a th:href="@{/livros/__${livro.id}__/finalizarLeitura}">Remover da minha lista</a></p>
		</div>
	</div>
</body>
</html>