<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroWeb - Leitura: __${livro.titulo}__')">
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div id="main-leitura" class="container">
		<div id="separador-leitura" style="height: 100%; width:100%;">
			<div id="div-titulo">
				<h5 class="text-center titulo-livro">
					<a th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}/detalhes}" th:text="${livro.titulo}"></a>
				</h5>
				<h6 class="text-center titulo-capitulo" th:text="'Capitulo ' + ${capitulo.numero} + ' - ' + ${capitulo.titulo}"></h6>
			</div>
		
			<div id="div-leitura">
				<h6 class="text-right noselect">
					<span id="botao-diminuir" class="tamanho-fonte w-10">-</span>
					<span class="tamanho-fonte w-10">aA</span>
					<span id="botao-aumentar" class="tamanho-fonte w-10">+</span>
					<span id="botao-fullscreen">FullScreen</span>
				</h6>
		
				<div id="leitura-capitulo" class="leitura-capitulo">
					<textarea id="painel-leitura" class="form-control" th:text="${capitulo.texto}" disabled="disabled"></textarea>
					<div class="text-center flex">
						<a id="diminuir-velocidade" class="ml-auto noselect botao-scroll">Vel -</a>
						<a id="botao-auto-scroll" class="ml-auto noselect botao-scroll">Auto Scroll</a>
						<a id="aumentar-velocidade" class="ml-auto noselect botao-scroll">Vel +</a>
					</div>
				</div>
				<div id="botoes-paginacao" class="row">
					<div class="col-6 text-center">
						<a th:if="${capitulo.numero &gt; 1}" th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/leitura/capitulo/__${capitulo.numero - 1}__/}">Capitulo Anterior</a>
						<a th:if="${capitulo.numero == 1}" th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/detalhes}">Voltar Para a Capa</a>
					</div>
					<div class="col-6 text-center">
						<a class="ml-auto mr-auto" th:if="${capitulo.numero &lt; numeroUltimoCapitulo}" th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/leitura/capitulo/__${capitulo.numero + 1}__/}">Proximo
							Capitulo</a>
						<a class="ml-auto mr-auto" th:if="${capitulo.numero == numeroUltimoCapitulo}" th:href="@{/livros/__${livro.id}__/finalizarLeitura}">Finalizar Leitura</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/leitura.js}"></script>
</body>
</html>