<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroWeb - Lista de Livros')">
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<div class="row">
			<div class="col-4 col-md-3 thumb" th:each="livro : ${livros}">
				<a class="espaco-livro" th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/detalhes}">
					<ul class="dados-imagem">
						<img class="img-fluid ml-auto mr-auto" th:src="${livro.imagemCapa}" th:alt="${livro.titulo}"/>
					</ul>
				</a>
			</div>
		</div>
		<nav aria-label="Page Navigation text-center">
			<ul class="pagination text-center">
				<li class="page-item" th:if="${numeroPagina > 3}"><a class="page-link" th:href="@{/livros/1}">Primeira</a></li>
				<li class="page-item" th:if="${numeroPagina >= 3}"><a class="page-link" th:href="@{/livros/__${numeroPagina - 2}__}" th:text="${numeroPagina - 2}"></a></li>
				<li class="page-item" th:if="${numeroPagina >= 2}"><a class="page-link" th:href="@{/livros/__${numeroPagina - 1}__}" th:text="${numeroPagina - 1}"></a></li>
				<li class="page-item active" th:if="${totalPaginas != 1}"><a class="page-link" th:text="${numeroPagina}"></a></li>
				<li class="page-item" th:if="${totalPaginas > numeroPagina}"><a class="page-link" th:href="@{/livros/__${numeroPagina + 1}__}" th:text="${numeroPagina + 1}"></a></li>
				<li class="page-item" th:if="${totalPaginas > numeroPagina + 1}"><a class="page-link" th:href="@{/livros/__${numeroPagina + 2}__}" th:text="${numeroPagina + 2}"></a></li>
				<li class="page-item" th:if="${totalPaginas - 2 > numeroPagina}"><a class="page-link" th:href="@{/livros/__${totalPaginas}__}">Ultima</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>