<!DOCTYPE html>
<html>
<head th:replace="templateFile :: head('LivroWeb - Lista de Livros')">
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container">
		<div class="row">
			<div class="col-4 col-md-3 thumb" th:each="livro : ${livros}">
				<a class="espaco-livro" th:href="@{/livros/__${livro.id}__/__${livro.nomeUri}__/detalhes}">
					<ul class="dados-imagem">
						<!-- <li class="text-center"><h4 class="titulo-livro"><span th:text="${livro.titulo}"></span></h4></li> -->
						<!-- <li class="text-center"><h6 class="nome-autor" th:text="${livro.autor}"></h6></li> -->
						<img class="img-fluid ml-auto mr-auto" th:src="${livro.imagemCapa}" />
					</ul>
				</a>
			</div>
		</div>
	</div>
</body>
</html>